@import "compass_twitter_bootstrap";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transition";

$primary_color: #96DCC7;
$secondary_color: #f2f2ea;

body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background: #FDFEFE;
	padding-top: 100px;
	-webkit-font-smoothing: antialiased;
}

.navbar-inner {
	font-family: 'Cutive Mono';
	background-image: none;
	background-color: rgba(#fff, .9);
	height: 100px;
	border-bottom: none;
	li {
		display: inline;
		#nav-blog, #twitter, #email{
			position: relative;
			float: right;
		}
	}
}

.box-style {
	@include border-radius(3px);
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	min-height: 300px;
	margin-top: 30px;

	&.box1 {
		color: #fff;
		background-color: $primary_color;
	}

	&.box2 {
		background-color: $secondary_color;
		color: #808080;
	}
}

#footer {
	color: #aaa;
	font-family: 'Cutive Mono','Lato', 'Helvetica', 'Arial', sans-serif;
	font-size: 15px;
	text-align: center;
}